<div class="container">
    
    <div class="mt4 col-8 offset-2 buscador">
        <div class="card">
            <div class="card-header">
                <h2>Buscador de Usuarios</h2>
            </div>
            <form #frmbuscar=ngForm>
                <div class="card-body">                
                        <div class="mb-3">
                            <input name="nombreusuario" placeholder="Ingresa nombre de usuario" [(ngModel)]="nombreusuario" style="width: 35%;"/>
                        </div>               
                </div>
                <div class="card-footer">
                    <button class="btn btn-info" style="width: 30%; margin-right: 10px;" (click)="buscar()">Buscar</button>
                    <button class="btn btn-info" style="width: 30%;" (click)="grafico()" *ngIf="respUser.length">Ver Grafico</button>
                </div>
            </form>
        </div>
    </div>  
    
    <div class="container" *ngIf="respUser.length">
        <div class="row">
            <div class="card" style="width: 18rem; margin-left: 10px; margin-bottom: 10px;" *ngFor="let item of respUser | paginate: { itemsPerPage: 10, currentPage: page }">
                <img src="{{item.avatar_url}}" class="card-img-top" alt="Avatar">
                <div class="card-body">
                  <h5 class="card-title">{{item.login}}</h5>
                  <p class="card-text">{{item.id}} {{item.node_id}}.</p>
                  <a href="{{item.html_url}}" class="btn btn-primary" target="_blank">Ver Perfil</a>
                </div>
            </div>
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
       
    </div>
        
    <div class="container"  *ngIf="seguidores.length">
        <app-grafico [numeros]="numeros" [nombres]="nombres"></app-grafico>
    </div>
   
       
   
   
</div>
